.about-section {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  
}

.about-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: auto;
  width: 100%;
  height: 100%;
}

.about-image {
  display: flex;
  order: 1;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.about-image img {
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.4));
  height: 60vh;
  border-radius: 25px;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 40%;
  margin-left: 5rem;
  
}

.about-text h1 {
  font-size: 5rem;
  color: #44662e;
}

.about-text p {
  line-height: 1.6;
  text-align: left;
  color: #000;
  font-size: 1.09rem;
}

.stats-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border-radius: 8px;
  padding: 5% 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.stat-item {
  text-align: center;
  margin: 5px 15px;
}

.stat-item h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #296929;
}

.stat-item p {
  margin-top: 8px;
  font-size: 1em;
  color: #296929;
}

@media (max-width: 540px) {
  .about-section {
    height: auto;
    overflow-x: hidden;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 0;
    width: 80%;
  }
  
  .about-image img {
    width: 100%;
    border-radius: 25px;
  }

  .about-text {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .about-text h1 {
    font-size: 34px;
    font-weight: bold;
    text-wrap: nowrap;
    margin-left: -90px;
  }

  .about-text p {
    font-family: Helvetica;
    width: 300px;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .logo {
    width: 150px;
  }

  .mobile-menu a {
    font-size: 16px;
  }
  .stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }

  .stat-item h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #296929;
  }

  .stat-item p {
    margin-top: 5px;
    font-size: 1em;
    text-transform: capitalize;
    color: #296929;
    transform: matrix(1, 0, 0, 1, 0, 0);
    text-align: center;
    border-bottom: 1px solid #00000015;
  }
}
