.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: .5;
  }
  
  .logo img {
    max-width: 80%;
    height: auto;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  .nav-left {
    flex-grow: 1;
    justify-content: flex-start;
  }
  
  .nav-right {
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .nav-menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #34495e;
    font-size: 16px;
  }
  
  .nav-menu a:hover {
    color: #1abc9c;
  }
  

  .header-top-strip {
    background-color: #107537; 
    padding: 4px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
  }
  
  .top-logo {
    margin-left: auto; 
    width: 40px; 
    height: auto;
  }