@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 50px 10%;
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all 0.5s ease;
}

.header.scrolled {
    padding: 25px 10%;
    background-color: seagreen;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    width: 250px;
    height: auto;
    margin: -15px -15px;
    left: auto;
    right: auto;
}

.nav-menu a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin: 0 20px;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
