@import "../styles/variables.scss";

.navbar {
  background-color: #215918;
  color: #f1f2f2;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 0.5s ease-in-out;

  &.scrolled {
    height: 80px;

    .navbar-left ul > li > a,
    .navbar-right ul > li > a {
      transition: all 0.5s ease-in-out;
      font-size: 14px;
    }
  }

  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand";
    text-transform: uppercase;
    font-weight: 500;
    width: 50%;
    height: 100%;

    ul {
      display: flex;
      list-style: none;
      margin: 0 auto;
      padding: 0;

      li {
        margin: 0 60px;

        a {
          color: #f1f2f2;
          text-decoration: none;
          transition: color 0.5s;
          font-size: 18px;
          text-wrap: nowrap;
          transition: all 0.5s ease-in-out;

          &:hover {
            color: #cad4cc;
          }
        }
      }
    }
  }

  .navbar-center {
    display: flex;
    align-items: center;

    .logo {
      width: 100px;
      height: 100px;
      transition: all 0.5s ease-in-out;
    }
  }

  &.scrolled .navbar-center .logo {
    padding: 10px;
    width: 90px;
    height: 90px;
  }

  /* Hamburger Menu Styles */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 35px;
    z-index: 1100;

    .bar {
      width: 35px;
      height: 5px;
      background-color: #f1f2f2;
      margin: 6px 0;
      transition: 0.4s;
    }

    &.open .bar:nth-child(1) {
      transform: translateY(11px) rotate(45deg);
    }

    &.open .bar:nth-child(2) {
      opacity: 0;
    }

    &.open .bar:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
  }

  @media screen and (max-width: 768px) {
    height: 100px;
    padding: 0 10px;

    .navbar-left,
    .navbar-right {
      display: none;
    }

    .navbar-center {
      .logo {
        width: 80px;
        height: 80px;
      }
    }

    &.scrolled {
      height: 80px;
    }

    &.scrolled .navbar-center .logo {
      width: 70px;
      height: 70px;
    }

    /* Show Navbar on Mobile */
    .navbar-left ul,
    .navbar-right ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background: rgba(33, 89, 24, 0.95);
      padding: 20px 0;
      text-align: center;
      transition: all 0.5s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }

    .navbar-left ul.active,
    .navbar-right ul.active {
      opacity: 1;
      visibility: visible;
    }

    .navbar-left ul li,
    .navbar-right ul li {
      margin: 15px 0;
    }

    .hamburger {
      display: flex;
    }
  }
}
