.core-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgb(124, 124, 124));
}

.core-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.core-image {
  display: flex;
}

.core-image img {
  width: 80%;
  height: auto;
  object-fit: contain;
  border-bottom-right-radius: 200px;
  border: 1px solid #00000015;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));
}

.core-text {
  padding: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.core-text h3 {
  text-wrap: auto;
  margin-top: -20px;
  font-size: 3rem;
  color: #44662e;
}

.core-text p {
  margin-top: 15px;
}

.core-grid {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 20px;
  margin-top: 60px;
}

.core-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff04;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 480px) {
  .core-section {
    padding: 20px;
    height: auto;
  }

  .core-container {
    flex-direction: column;
    padding: 5%;
  }

  .core-text {
    width: 100%;
  }

  .core-text h3 {
    font-size: 1.5rem;
    text-wrap: nowrap;
  }

  .core-grid {
    grid-template-columns: repeat(1, 100%);
  }
}
