.marquee-container {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(124, 124, 124), rgba(255, 255, 255, 0.5));
  padding: 30px;
}

.marquee {
  display: flex;
  width: 70%;
  overflow: hidden;
}

.marquee h1 {
    text-wrap: nowrap;
}

.card {
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  max-height: 400px;
  margin: 5% 10px;
  background: white;
  color: seagreen;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100px;
    height: 100px;
    
    object-fit: cover;
    border: 1px solid black;
}

.card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.card p {
    font-size: 1rem;
    text-align: center;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 540px) {
  .marquee-container {
    height: 100vh;
  }

  .marquee {
    width: 100%;
  }

  .card {
    flex: 0 0 300px;
    height: 450px;
    max-height: 450px;
  }
    
}
