.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #aaa;

  video {
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
}

.about-section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: auto;
  background-color: #215918;
  padding: 5% 0;
  color: white;

  .title {
    font-size: 60px;
    font-family: "Quicksand";
    text-transform: uppercase;
  }

  .tagline {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2%;
    line-height: 25px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10%;
    margin-top: 5%;

    .grid-item {
      display: flex;
      border: 1px solid white;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 5%;
      width: 90%;
      gap: 10px;

      .icon {
        font-size: 40px;
        margin-bottom: 10%;
      }

      .title {
        font-size: 20px;
        font-family: "Quicksand";
        text-transform: uppercase;
        text-align: center;
      }

      .description {
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 300;
        text-align: start;
      }
    }
  }
  .know-more {
    font-family: "Quicksand";
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 5%;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
  }

  .know-more::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    transition: all 0.3s ease;
  }

  .know-more:hover::after {
    width: 0;
    transform: translateX(-50%);
  }
}

/* .services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20%;

    h2 {
      font-size: 60px;
      font-family: "Quicksand";
      text-transform: uppercase;
      margin-bottom: 5%;
      color: #215918;
      width: 80%;
    }

    .services-grid {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .service {
      display: flex;
      flex-direction: row;
      margin-bottom: 60px;
      overflow: hidden;

      &.reverse {
        flex-direction: row-reverse;
      }

      .image-content {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 400px;
          height: 400px;
          object-fit: cover;
        }
      }

      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 20px 0;
        gap: 10px;
        color: #215918;
        text-align: start;
        border: 1px solid black;

        h3 {
          font-size: 30px;
          font-family: "Quicksand";
          text-wrap: none;
        }
        p {
          font-size: 20px;
          font-family: "Montserrat";
        }

        button {
          font-family: "Quicksand";
          font-size: 20px;
          text-transform: uppercase;
          margin-top: 5%;
          background: none;
          color: #215918;
          font-weight: 500;
          border: none;
          cursor: pointer;
          position: relative;
          transition: all 0.3s ease;
        }

        button::after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          background-color: #215918;
          bottom: -3px;
          left: 50%;
          transform: translateX(-50%);
          transform-origin: center;
          transition: all 0.3s ease;
        }

        button:hover::after {
          width: 100%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
 */

.services {
  display: flex;
  justify-content: center;
  align-items: center;

  .services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;

    h2 {
      font-size: 60px;
      font-family: "Quicksand";
      text-transform: uppercase;
      margin-bottom: 10%;
      color: #215918;
      width: 80%;
      text-align: center;
    }

    /* .services-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } */
    .service {
      display: flex;
      margin: 0 auto;
      padding: 6% 10px;
      gap: 10%;

      &.reverse {
        flex-direction: row-reverse;
      }

      .image-container {
        display: flex;
        width: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
        }
      }
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0 10% 0 0;
        gap: 20px;
        text-align: start;
        width: 50%;
        color: #215918;

        h3 {
          font-size: 30px;
          font-family: "Quicksand";
          line-height: 30px;
        }

        p {
          font-family: "Montserrat";
          font-size: 20px;
          font-weight: 400;
        }

        button {
          font-family: "Quicksand";
          font-size: 18px;
          text-transform: uppercase;
          background: none;
          color: #215918;
          font-weight: 600;
          border: none;
          cursor: pointer;
          position: relative;
          transition: all 0.3s ease;

          &:hover::after {
            width: 0;
            transform: translateX(-50%);
          }

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #215918;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            transform-origin: center;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
